config SHIELD_SHIFTER_TEST_LEFT
    def_bool $(shields_list_contains,shifter_test_left)
  
config SHIELD_SHIFTER_TEST_RIGHT
    def_bool $(shields_list_contains,shifter_test_right)
  
config SHIELD_SHIFTER_TEST_DONGLE
    def_bool $(shields_list_contains,shifter_test_dongle)
